<div class="center hero-unit">
  <h1>Welcome!?</h1>
  <img src="/images/Who's-The-Dee-Logo.png" />
<br>
<br>
  <h2 style="color:black;">
    The Place On The Internet For Dogs and Their Owners!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

