#friendrequests {
	float:left;
	width:60%;
	h2 {height:50px;
		margin-top:0px;
		margin-bottom:0px;
		font-size:250%;}
}
#friendreqcontainer {
	height:150px;
	width: 100%;
}
#friendreqimage {
	height:150px;
	width:150px;
	float:left;
	img {border:3px solid orange}
}
#friendreqname {
	float:left;
	height:150px;
	width:80%;
	margin-left:20px;
	vertical-align: middle;
	h2 {text-align: left;
		width:200px;}
	span {float:left; 
		}
}
#friendheader {
	height:50px;
	width:250px;
    font-family: "Moon_Flower";
    src: url('Moon_Flower_Bold.ttf');
    font-size:350%;
    overflow:visible;
    span {
    position:relative;
    top:10px;
  }
}
#friendreq_buttons {
	float:left;
	height:50px;
	width:200px;
	background-color:red;
}