#friendrequests {
	float:left;
	width:60%;
	h2 {height:50px;
		margin-top:0px;
		margin-bottom:0px;
		font-size:250%;}
}
.friendheader {
	height: 50px;
	margin: 0 auto;
    font-family: "Moon_Flower";
    src: url('/assets/Moon_Flower_Bold.ttf');
    font-size:300%;
    vertical-align: top;
    text-align: center;
    z-index: -13;
    background: whitesmoke;
    span {
    	position:relative;
    		bottom:30px;
    }
}
#nameandbuttonwrap {
	height:156px;
	width:800px;
	 position:relative;
	 top:50px;
}
#friendcontainer {
	height:156px;
	width: 800px;
	a {color:blue;}
	background-color:whitesmoke;
}
#friendreqimage {
	height:156px;
	width:156px;
	float:left;
		margin-right:20px;

	img {border:3px solid orange}
}
#friendname {
	float:left;
	height:150px;
	width:150px;
	margin-left:20px;
	z-index:999;
	display:inline;
}
#wantstabe {
	height:156px;
	width:200px;
	float:left;
}
#friendoptions {
	height:156px;
	width:200px;
	float:left;
}
#friendreq_buttons {
	float:left;
	height:50px;
	width:200px;
	background-color:red;
}