/*// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
/*#dogswrap {
	background-color:blue;
	height:300px;
	width: 300px;
	margin: 0 auto;
	position:relative;top:30px;
}*/
#dogsearchform form input {
	height:60px;
	width:60px;
}
#matches {
  float: left;
  height:525px;
  width:960px;
  form input {
    height:60px;
    width:60px;
  }}
#matches .namepicwrap {
	height:512px;
	width:306px;
	float:left;
}
#matches .image300 {
	float:left;
	height:306px;
	width:306px;
	border:3px solid orange;
	margin-right:20px;
	-webkit-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	-moz-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
}
#matches .image150l {
	float:right;
	height:156px;
	width:156px;
	border:3px solid orange;
		position:relative;
			bottom:50px;
			left:50px;
	-webkit-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	-moz-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
}
#matches .image150r {
	float:left;
	height:156px;
	width:156px;
	border:3px solid orange;
		position:relative;
			bottom:50px;
			right:50px;
	-webkit-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	-moz-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
}
#matches .name {
	height:50px;
	width:306px;
	float:left;
	text-align:center;
	    font-family: "Moon_Flower";
    src: font-url('Moon_Flower_Bold.ttf');
    font-size:350%;

}
#matches h1 {
	margin:0;
	text-align: left;
	position:relative;bottom:8px;
}
#shouldplaywith {
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	position:relative;top:180px;
	height:306px;
	width:308px;
}
#matchbox {
	float:left;
	height:200px;
	width:960px;
	margin:0 auto;

}
#matchboxinner {
	height:200px;
	width:500px;
	margin:0 auto;
	border-radius: 5px;
	background-color: whitesmoke;
	-webkit-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	-moz-box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	box-shadow: -13px 10px 33px 5px rgba(0,0,0,0.5);
  	p {
  			    font-family: "Moon_Flower";
    src: font-url('Moon_Flower_Bold.ttf');
  	}
}