<div class="footer">
  <small>
    <a href="http://railstutorial.org/"> Whos The Dee?! </a>
    by Sullivan Tech
  </small>
          <div class="footnav">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
          </div>

</div>